<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">KulkovFrontend</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="empl">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Сотрудники
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="post">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Должности
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sal">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Зарплаты
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="dep">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Отделы
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="depemp">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Сотрудники отделов
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="loc">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Адреса
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="salj">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Операции с зп
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="have">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Зарплата по отделам
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="case">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Case example
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="corr">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Correlated
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="any">
                <span class="oi oi-list-rich" aria-hidden="true"></span> ALL
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
